// Override default variables before the import
// $body-bg: #000;

// Import Bootstrap and its default variables
@import '../node_modules/bootstrap/scss/bootstrap.scss';

.logo.vite:hover {
  filter: drop-shadow(0 0 2em #747bff);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafb);
}

.single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
